@media (min-width: 880px) {

    body {
        margin: 0;
        background-image: url('../Img/errorBackground.jpg');
        background-size: cover;
    }

    /* Title of my pretty web */
    h1 {
        position: relative;
        width: 20%;
        color: #ffffff;
        font-size: 4.62em;
        font-family: Impact;
        text-align: left;
        margin: 0;
        left: 30px;
    }

    .error_container {
        position: absolute;
        width: 60%;
        border: 2px solid #ffffff;
        border-radius: 70px;
        background-color: #1099bb;
        top: 43%;
        left: 20%;
    }

    .error_container p {
        color: #ffffff;
        font-size: 26px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }

    span {
        color: #ff0000;
    }

    .go_back_button {
        position: absolute;
        height: 6.5%;
        width: 20%;
        text-decoration: none;
        border: 2px solid #ffffff;
        border-radius: 70px;
        padding: 3px;
        background-color: #1099bb;
        top: 60%;
        left: 40%;
        transition: 0.2s;
    }

    .go_back_button:hover {
        position: absolute;
        height: 6.5%;
        width: 20%;
        text-decoration: none;
        border: 2px solid #ffffff;
        border-radius: 70px;
        padding: 3px;
        background-color: #727272;
        top: 60%;
        left: 40%;
        transition: 0.2s;
    }

    .go_back_button p {
        position: relative;
        color: #ffffff;
        font-size: 24px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        bottom: 67%;
    }

}

@media (max-width: 425px) {

    body {
        margin: 0;
        background-image: url('../Img/errorBackground.jpg');
        background-size: cover;
        background-attachment: fixed;
    }

    /* Title of my pretty web */
    h1 {
        color: #ffffff;
        font-size: 3.2em;
        font-family: Impact;
        text-align: center;
        margin: 0;
    }

    .error_container {
        position: absolute;
        height: 30%;
        width: 80%;
        /* background-color: #1099bb; */
        top: 40%;
        left: 10%;
    }

    .error_container p {
        position: relative;
        color: #ffffff;
        font-size: 26px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }

    span {
        color: #ff0000;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .go_back_button {
        position: absolute;
        height: 7%;
        width: 30%;
        text-decoration: none;
        border: none;
        border-radius: 70px;
        padding: 3px;
        background-color: #ffffff;
        top: 80%;
        left: 35%;
    }

    .go_back_button p {
        position: relative;
        color: #000000;
        font-size: 24px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        bottom: 45%;
    }
}