:root {
  --primary-color: #0c78f2;
  --secondary-color: #2d2d2d;
  --tertiary-color: #ffffff;

  --font-primary-color: #ffffff;
  --font-secondary-color: #000000;
  --font-tertiary-color: #0c78f2;

  --border: 3px solid #0c78f2;

  --primary-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (min-width: 880px) {
  .favourite_process_state {
    height: 30px;
    color: var(--font-primary-color);
    font-size: 24px;
    text-align: center;
    margin: 0;
    background-color: #3ec43e;
  }

  /* ------------------------------------------------------------------------ */

  /* This is easy, this is the body label */
  body {
    height: 1518px;
    width: 100%;
    margin: 0;
  }

  body::-webkit-scrollbar {
    width: 10px;
    background-color: var(--secondary-color);
  }

  body::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 0 20px 0 20px;
    background-color: var(--primary-color);
  }

  /* ------------------------------------------------------------------------ */

  /* This is the header background, where is the title or search-bar */
  .header_background {
    position: relative;
    height: 80px;
    width: 100%;
    background-color: var(--primary-color);
  }

  /* Title of my pretty web */
  .header_background h1 {
    position: relative;
    display: inline-block;
    width: 40%;
    color: var(--font-primary-color);
    font-size: 65px;
    font-family: Impact;
    margin: 0;
    left: 30px;
  }

  /* This is the login button */
  .return_button {
    position: relative;
    height: 60%;
    width: 12%;
    text-decoration: none;
    border-radius: 25px;
    background-color: var(--secondary-color);
    top: 20px;
    right: 10px;
    float: right;
    overflow: hidden;
  }

  .return_button::after {
    position: absolute;
    content: "";
    height: 60px;
    width: 250px;
    background-color: #b43434;
    top: -3px;
    left: -240px;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
    transition: 0.7s;
  }

  .return_button:hover::after {
    left: 0px;
  }

  /* This is the text of the login button */
  .return_button p {
    position: relative;
    color: var(--font-primary-color);
    font-size: 1.2em;
    font-family: var(--primary-font-family);
    text-align: center;
    bottom: 6px;
    z-index: 500;
  }

  /* ------------------------------------------------------------------------ */

  .main_div {
    height: 200px;
    width: 90%;
    margin: 50px auto;
    border-radius: 25px;
    background-color: var(--secondary-color);
  }

  /* ------------------------------------------------------------------------ */

  .sub_container {
    position: relative;
    height: 80%;
    width: 45%;
    border-radius: 25px 25px 20px 20px;
    background-color: var(--primary-color);
    top: 10%;
    left: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .sub_container::-webkit-scrollbar {
    width: 2px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: var(--secondary-color);
  }

  .sub_container::-webkit-scrollbar-thumb {
    width: 2px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: var(--primary-color);
  }

  .img_container {
    position: relative;
    display: inline-block;
    height: 90%;
    width: 140px;
    margin: 50px 10px;
    border: 3px solid #2a2a2a;
    border-radius: 50%;
    background-color: var(--primary-color);
    bottom: 45px;
  }

  .img_container img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }

  .names_container {
    position: relative;
    display: inline-block;
    height: 32%;
    width: 30%;
    /* background-color: #13eb13; */
    bottom: 98px;
  }

  .name {
    position: relative;
    display: inline-block;
    width: 250px;
    color: var(--font-primary-color);
    font-size: 30px;
    font-family: fantasy;
    margin: 0;
  }

  .main_div h2 {
    position: relative;
    width: 250px;
    color: var(--font-primary-color);
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left: 57%;
    bottom: 115px;
  }

  /* ------------------------------------------------------------------------ */

  .principal_content_container {
    height: 810px;
    width: 90%;
    margin: 0 auto;
  }

  .left_div {
    display: inline-block;
    height: 98%;
    width: 68%;
    border: var(--border);
    border-radius: 25px;
    background-color: var(--secondary-color);
  }

  .left_div h3 {
    position: relative;
    color: var(--font-primary-color);
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 0;
    top: 50px;
  }

  #left_div_general_container {
    position: relative;
    height: 80%;
    width: 90%;
    /* background-color: #0c78f2; */
    top: 8%;
    left: 5%;
    overflow-y: scroll;
  }

  #left_div_general_container::-webkit-scrollbar {
    width: 10px;
    border-radius: 25px;
    background-color: var(--secondary-color);
  }

  #left_div_general_container::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 25px;
    background-color: var(--tertiary-color);
  }

  .product {
    height: 24%;
    width: 98%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 25px;
    padding: 20px 0;
    background-color: var(--primary-color);
  }

  .product_img_container {
    position: relative;
    height: 100%;
    width: 20%;
    border-radius: 15px;
    background-color: #13eb13;
    left: 4%;
    float: left;
  }

  .product_img_container img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }

  .product_info_container {
    position: relative;
    height: 100%;
    width: 50%;
    border-radius: 15px 15px 12px 15px;
    background-color: var(--secondary-color);
    left: 6%;
    float: left;
  }

  .product_name,
  .product_description {
    margin: 0;
  }

  .product_name_container {
    height: 25%;
    width: 100%;
    /* background-color: aqua; */
  }

  .description_container {
    height: 70%;
    width: 100%;
    padding: 0 15px;
    /* background-color: rgb(180, 27, 201); */
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .description_container::-webkit-scrollbar {
    width: 10px;
    border-radius: 15px;
    background-color: var(--secondary-color);
  }

  .description_container::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 25px;
    background-color: var(--tertiary-color);
  }

  .product_name {
    position: relative;
    color: var(--font-tertiary-color);
    font-size: 20px;
    font-family: var(--primary-font-family);
    top: 10px;
    left: 15px;
  }

  .product_description {
    position: relative;
    color: var(--font-primary-color);
    font-size: 2vmin;
    text-align: justify;
  }

  .actions_container {
    position: relative;
    height: 100%;
    width: 20%;
    border-radius: 15px;
    background-color: var(--secondary-color);
    left: 8%;
    float: left;
  }

  .product_condition {
    position: relative;
    color: var(--font-primary-color);
    font-family: var(--primary-font-family);
    text-align: center;
    margin: 0;
    top: 5%;
  }

  .product_price {
    position: relative;
    color: #13eb13;
    font-family: var(--primary-font-family);
    text-align: center;
    margin: 0;
    top: 20%;
  }

  .actions_container div {
    position: relative;
    height: 20%;
    width: 60%;
    font-size: 16px;
    font-family: var(--primary-font-family);
    border: none;
    border-radius: 15px;
    background-color: var(--tertiary-color);
    top: 40%;
    left: 20%;
    transition: 0.3s;
  }

  .actions_container div:hover {
    position: relative;
    height: 20%;
    width: 60%;
    font-size: 16px;
    font-family: var(--primary-font-family);
    border: none;
    border-radius: 15px;
    background-color: var(--primary-color);
    top: 40%;
    left: 20%;
    transition: 0.3s;
  }

  .actions_container div a {
    position: relative;
    color: var(--font-tertiary-color);
    text-decoration: none;
    top: 15%;
    left: 15%;
  }

  .actions_container div a:hover {
    position: relative;
    color: var(--font-primary-color);
    text-decoration: none;
    top: 15%;
    left: 15%;
  }

  /* ------------------------------------------------------------------------ */

  .right_div {
    height: 99%;
    width: 28%;
    float: right;
  }

  .top_right_div {
    height: 30%;
    width: 99%;
    border: var(--border);
    border-radius: 25px;
    background-color: var(--secondary-color);
  }

  .middle_right_div {
    height: 30%;
    width: 99%;
    margin-top: 30.5px;
    border: var(--border);
    border-radius: 25px;
    background-color: var(--secondary-color);
  }

  .bottom_right_div {
    height: 30%;
    width: 99%;
    margin-top: 30.5px;
    border: var(--border);
    border-radius: 25px;
    background-color: var(--secondary-color);
  }

  /* ------------------------------------------------------------------------ */

  .top_right_div p {
    position: relative;
    color: var(--font-primary-color);
    font-size: 20px;
    font-family: var(--primary-font-family);
    text-align: center;
    top: 10%;
  }

  .top_right_div div {
    position: relative;
    height: 20%;
    width: 80%;
    margin: 0 auto;
    top: 50px;
  }

  #to_search {
    position: relative;
    height: 14%;
    width: 80%;
    font-size: 20px;
    font-family: var(--primary-font-family);
    text-align: center;
    border: none;
    border-radius: 10px;
    top: 10%;
    left: 10%;
  }

  /* ------------------------------------------------------------------------ */

  #clear_button {
    height: 100%;
    width: 40%;
    color: var(--font-tertiary-color);
    font-size: 20px;
    font-family: var(--primary-font-family);
    border: none;
    border-radius: 15px;
    background-color: var(--tertiary-color);
    float: left;
  }

  #search_button {
    height: 100%;
    width: 40%;
    color: var(--font-tertiary-color);
    font-size: 20px;
    font-family: var(--primary-font-family);
    border: none;
    border-radius: 15px;
    background-color: var(--tertiary-color);
    float: right;
  }

  #clear_button:hover {
    height: 100%;
    width: 40%;
    color: var(--font-primary-color);
    font-size: 20px;
    font-family: var(--primary-font-family);
    border: none;
    border-radius: 15px;
    background-color: var(--primary-color);
    float: left;
    transition: 0.3s;
  }

  #search_button:hover {
    height: 100%;
    width: 40%;
    color: var(--font-primary-color);
    font-size: 20px;
    font-family: var(--primary-font-family);
    border: none;
    border-radius: 15px;
    background-color: var(--primary-color);
    float: right;
    transition: 0.3s;
  }

  #clear_button:active {
    height: 100%;
    width: 40%;
    color: var(--font-primary-color);
    font-size: 20px;
    font-family: var(--primary-font-family);
    border: none;
    border-radius: 15px;
    background-color: #144883;
    float: left;
  }

  #search_button:active {
    height: 100%;
    width: 40%;
    color: var(--font-primary-color);
    font-size: 20px;
    font-family: var(--primary-font-family);
    border: none;
    border-radius: 15px;
    background-color: #144883;
    float: right;
  }

  /* ------------------------------------------------------------------------ */

  .middle_right_div p {
    position: relative;
    color: var(--font-primary-color);
    font-size: 20px;
    font-family: var(--primary-font-family);
    text-align: center;
    top: 10%;
  }

  .middle_right_div select {
    position: relative;
    height: 10%;
    width: 50%;
    text-align: center;
    top: 15%;
    left: 25%;
  }

  .checkbox_container {
    position: relative;
    height: 20%;
    width: 80%;
    margin: 0 auto;
    border: var(--border);
    border-radius: 15px;
    background-color: var(--primary-color);
    top: 60px;
  }

  #free_shipping_checkbox,
  #warranty_checkbox {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    top: 30%;
  }

  #free_shipping_label,
  #warranty_label {
    position: relative;
    display: inline-block;
    color: var(--font-secondary-color);
    font-family: var(--primary-font-family);
    top: 28%;
    right: 5%;
  }

  /* ------------------------------------------------------------------------ */

  /* This is footer background and brand properties */
  footer {
    position: relative;
    display: block;
    height: 15%;
    width: 100%;
    color: var(--font-primary-color);
    font-size: 2.5em;
    font-family: var(--primary-font-family);
    margin: 100px auto;
    background-color: var(--secondary-color);
  }


  /* Footer text container */
  .footer_text_container {
    position: relative;
    height: 50%;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  /* Footer text properties */
  .footer_text_container p,
  .footer_text_container p a {
    position: relative;
    display: inline-block;
    color: var(--font-primary-color);
    font-size: 5vmin;
    font-family: var(--primary-font-family);
    text-decoration: none;
    transition: 0.7s;
    overflow: hidden;
  }

  /* this generate a color change of footer text */
  .footer_text_container p:hover,
  .footer_text_container p a:hover {
    position: relative;
    display: inline-block;
    color: var(--font-tertiary-color);
    font-size: 5vmin;
    font-family: var(--primary-font-family);
    text-decoration: none;
    bottom: 10%;
    transition: 0.8s;
    overflow: hidden;
  }

  /* Who we are? */
  .we {
    position: relative;
    display: inline-block;
    margin-left: 25px;
  }

  /* Support to users */
  .support {
    position: relative;
    display: inline-block;
    margin-left: 25px;
  }

  /* Privacy terms */
  .privacy {
    position: relative;
    display: inline-block;
    margin-left: 25px;
  }

  /* Terms and conditions */
  .tyc {
    position: relative;
    display: inline-block;
    margin-left: 25px;
  }

  /* Copyright label */
  .copyright {
    position: relative;
    color: var(--font-tertiary-color);
    font-size: 4vmin;
    font-family: var(--primary-font-family);
    text-align: center;
  }
}

@media (max-width: 425px) {
  img {
    height: 100px;
    width: 100px;
  }

  .favourite_process_state {
    height: 30px;
    color: var(--font-primary-color);
    font-family: var(--primary-font-family);
    font-size: 24px;
    text-align: center;
    margin: 0;
    background-color: #3ec43e;
  }

  /* ------------------------------------------------------------------------ */

  /* This is easy, this is the body label */
  body {
    height: 1945px;
    width: 100%;
    margin: 0;
    /* background-color: dodgerblue; */
  }

  /* ------------------------------------------------------------------------ */

  /* This is the header background, where is the title or search-bar */
  .header_background {
    position: relative;
    height: 70px;
    width: 100%;
    background-color: var(--primary-color);
    z-index: 200;
  }

  /* Title of my pretty web */
  .header_background h1 {
    position: relative;
    color: var(--font-primary-color);
    font-size: 3.2em;
    font-family: Impact;
    text-align: center;
    width: 100%;
    margin: 0;
  }

  .return_button {
    text-decoration: none;
  }

  .return_button p {
    height: 35%;
    width: 100%;
    color: var(--font-primary-color);
    font-size: 1.2em;
    font-family: var(--primary-font-family);
    text-align: center;
    margin: 0;
    background-color: var(--secondary-color);
  }

  .return_button p:hover {
    height: 35%;
    width: 100%;
    color: var(--font-primary-color);
    font-size: 1.2em;
    font-family: var(--primary-font-family);
    text-align: center;
    margin: 0;
    background-color: #074994;
  }

  /* ------------------------------------------------------------------------ */

  main {
    position: relative;
    width: 100%;
    margin: 40px auto;
    /* background-color: yellow; */
  }

  .sub_container {
    height: 120px;
    width: 90%;
    margin: 0 auto;
    border-radius: 15px;
    background-color: var(--primary-color);
  }

  .img_container {
    position: relative;
    height: 80%;
    width: 35%;
    top: 10%;
    left: 10px;
    float: left;
  }

  .img_container img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }

  .names_container {
    position: relative;
    height: 30%;
    width: 45%;
    color: var(--font-primary-color);
    font-family: var(--primary-font-family);
    /* background-color: #2d2d2d; */
    top: 38%;
    left: 27px;
    float: left;
  }

  .name {
    margin: 0;
  }

  /* ------------------------------------------------------------------------ */

  /* Texto de favoritos */
  .main_div h2 {
    font-family: var(--primary-font-family);
    text-align: center;
  }

  .left_div h3 {
    display: none;
  }

  /* ------------------------------------------------------------------------ */

  .right_div {
    position: relative;
    height: 400px;
    width: 100%;
    margin: 0 auto;
    /* background-color: rgb(24, 79, 199); */
    bottom: 1080px;
  }

  .top_right_div {
    color: var(--font-primary-color);
    text-align: center;
    height: 100px;
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
    background-color: var(--primary-color);

  }

  .top_right_div p {
    position: relative;
    font-family: var(--primary-font-family);
    margin: 5px auto;
    top: 10px;
  }

  .top_right_div input {
    height: 20px;
    margin-top: 10px;
    border: none;
    border-radius: 15px;
    text-align: center;
  }

  #clear_button {
    height: 25px;
    width: 30%;
    color: var(--font-primary-color);
    border-radius: 15px;
    background-color: var(--secondary-color);
  }

  #search_button {
    height: 25px;
    width: 30%;
    color: var(--font-primary-color);
    border-radius: 15px;
    background-color: var(--secondary-color);
  }

  .middle_right_div {
    color: var(--font-primary-color);
    font-family: var(--primary-font-family);
    text-align: center;
    height: 80px;
    width: 80%;
    margin: 20px auto;
    border-radius: 15px;
    background-color: var(--primary-color);
  }

  .middle_right_div p {
    position: relative;
    margin: 0 auto;
    top: 7px;
  }

  .middle_right_div select {
    height: 20px;
    margin-top: 12px;
    border: none;
    border-radius: 15px;
    text-align: center;
  }

  .checkbox_container input {
    position: relative;
    margin: 0 10px;
    top: 5px;
  }

  #free_shipping_label {
    position: relative;
    margin: 0;
    top: 4px;
    right: 10px;
  }

  #warranty_label {
    position: relative;
    margin: 0;
    top: 4px;
    right: 10px;
  }

  /* ------------------------------------------------------------------------ */

  .bottom_right_div {
    height: 45%;
    width: 80%;
    margin: 20px auto;
    border-radius: 15px;
    background-color: var(--primary-color);
  }

  /* ------------------------------------------------------------------------ */

  #left_div_general_container {
    position: relative;
    height: 1000px;
    width: 85%;
    margin: 50px auto;
    /* background-color: #13eb13; */
    top: 420px;
    overflow-y: scroll;
    box-sizing: border-box;
  }

  #left_div_general_container::-webkit-scrollbar,
  #left_div_general_container::-webkit-scrollbar-thumb {
    display: none;
  }

  .downArrowContainer {
    height: 70px;
    width: 45%;
    margin: 0 auto;
    /* background-color: #13eb13; */
  }

  .downArrowContainer img {
    height: 100%;
    width: 100%;
  }

  .product {
    height: 450px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: var(--secondary-color);
  }

  /* ------------------------------------------------------------------------ */

  .product_img_container {
    position: relative;
    height: 150px;
    width: 70%;
    border-radius: 15px;
    margin: 0 auto;
    top: 15px;
  }

  .product_img_container img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }

  .product_info_container {
    position: relative;
    height: 45%;
    width: 95%;
    color: var(--font-primary-color);
    text-align: center;
    margin: 0 auto;
    /* background-color: turquoise; */
    top: 9%;
  }

  .product_info_container p {
    font-family: var(--primary-font-family);
    margin: 0;
  }

  .product_name_container {
    position: relative;
    height: 15%;
    /* background-color: steelblue; */
    bottom: 4%;
  }

  .product_name_container a {
    color: var(--font-tertiary-color);
    font-family: var(--primary-font-family);
    text-align: center;
  }

  .description_container {
    position: relative;
    height: 88%;
    text-align: justify;
    border-radius: 15px;
    padding: 12px;
    background-color: var(--primary-color);
    box-sizing: border-box;
    overflow-y: scroll;
  }

  .actions_container {
    position: relative;
    height: 7%;
    width: 95%;
    margin: 0 auto;
    border-radius: 15px;
    /* background-color: #d61818; */
    top: 12%;
  }

  .product_condition {
    position: relative;
    color: var(--font-primary-color);
    font-family: var(--primary-font-family);
    text-align: left;
    margin: 0;
    top: 33%;
    left: 15px;
  }

  .product_price {
    position: relative;
    color: #13eb13;
    font-family: var(--primary-font-family);
    text-align: center;
    margin: 0;
    bottom: 25%;
    left: 22%;
    float: left;
  }

  .actions_container div {
    position: relative;
    height: 80%;
    width: 80px;
    font-size: 16px;
    font-family: var(--primary-font-family);
    border: none;
    border-radius: 15px;
    background-color: var(--tertiary-color);
    bottom: 40%;
    right: 5px;
    float: right;
    transition: 0.3s;
  }

  .actions_container div:hover {
    position: relative;
    height: 20%;
    width: 60%;
    font-size: 16px;
    font-family: var(--primary-font-family);
    border: none;
    border-radius: 15px;
    background-color: var(--primary-color);
    top: 40%;
    left: 20%;
    transition: 0.3s;
  }

  .actions_container div a {
    position: relative;
    color: var(--font-tertiary-color);
    text-decoration: none;
    top: 15%;
    left: 15%;
  }

  .actions_container div a:hover {
    position: relative;
    color: var(--font-primary-color);
    text-decoration: none;
    top: 15%;
    left: 15%;
  }

  /* ------------------------------------------------------------------------ */

  /* This is footer background and brand properties */
  footer {
    height: 270px;
    width: 100%;
    color: var(--font-primary-color);
    font-size: 2.5em;
    font-family: var(--primary-font-family);
    margin: 0 auto;
    background-color: var(--secondary-color);
  }


  /* Footer text container */
  .footer_text_container {
    height: 85%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    /* background-color: coral; */
  }

  /* Footer text properties */
  .footer_text_container p,
  .footer_text_container p a {
    position: relative;
    color: var(--font-primary-color);
    font-size: 7vmin;
    font-family: var(--primary-font-family);
    text-decoration: none;
    top: 5%;
  }

  /* this generate a color change of footer text */
  .footer_text_container p:hover,
  .footer_text_container p a:hover {
    position: relative;
    color: var(--font-tertiary-color);
    font-size: 7vmin;
    font-family: var(--primary-font-family);
    text-decoration: none;
    top: 5%;
  }

  /* Copyright label */
  .copyright {
    position: relative;
    color: var(--font-tertiary-color);
    font-size: 4vmin;
    font-family: var(--primary-font-family);
    text-align: center;
    bottom: 5%;
  }

}