:root {
    --primary-color: #0c78f2;
    --secondary-color: #2d2d2d;
    --tertiary-color: #ffffff;

    --font-primary-color: #ffffff;
    --font-secondary-color: #000000;
    --font-tertiary-color: #0c78f2;

    --border: 3px solid #0c78f2;

    --primary-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (min-width: 880px) {

    /* This is easy, this is the body label */
    body {
        width: 100%;
        margin: 0;
    }

    body::-webkit-scrollbar {
        width: 10px;
        background-color: var(--secondary-color);
    }

    body::-webkit-scrollbar-thumb {
        width: 10px;
        border-radius: 0 20px 0 20px;
        background-color: var(--primary-color);
    }

    /* ------------------------------------------------------------------------ */

    /* This is the header background, where is the title or search-bar */
    .header_background {
        position: relative;
        height: 80px;
        width: 100%;
        background-color: var(--primary-color);
    }

    /* Title of my pretty web */
    .header_background h1 {
        position: relative;
        display: inline-block;
        width: 40%;
        color: var(--font-primary-color);
        font-size: 65px;
        font-family: Impact;
        margin: 0;
        left: 30px;
    }

    /* This is the login button */
    .return_button {
        position: relative;
        height: 60%;
        width: 12%;
        text-decoration: none;
        border-radius: 25px;
        background-color: var(--secondary-color);
        top: 20px;
        right: 10px;
        float: right;
        overflow: hidden;
    }

    .return_button::after {
        position: absolute;
        content: "";
        height: 60px;
        width: 250px;
        background-color: #b43434;
        top: -3px;
        left: -240px;
        clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
        transition: 0.7s;
    }

    .return_button:hover::after {
        left: 0px;
    }

    /* This is the text of the login button */
    .return_button p {
        position: relative;
        color: var(--font-primary-color);
        font-size: 1.2em;
        font-family: var(--primary-font-family);
        text-align: center;
        bottom: 6px;
        z-index: 500;
    }

    /* ------------------------------------------------------------------------ */

    section {
        position: relative;
        width: 90vw;
        /* background-color: #b43434; */
        top: 3vh;
        left: 5vw;
    }

    .total_products_container {
        height: 25px;
        margin-bottom: 20px;
        /* background-color: aqua; */
    }

    .total_products_container p {
        height: 100%;
        width: 20%;
        color: var(--font-primary-color);
        font-family: var(--primary-font-family);
        text-align: center;
        margin: 0;
        border-radius: 15px;
        padding: 3px;
        background-color: var(--secondary-color);
        box-sizing: border-box;
    }

    .product_container {
        height: 250px;
        width: 100%;
        margin: 30px 0;
        border-radius: 25px;
        background-color: var(--primary-color);
    }

    .info_and_interaction_container {
        position: relative;
        display: inline-block;
        height: 80%;
        width: 75%;
        /* background-color: #00ff00; */
        top: 10%;
        left: 3%;
    }

    .img_container {
        position: relative;
        display: inline-block;
        height: 80%;
        width: 20%;
        border-radius: 15px;
        background-color: #b43434;
        top: 10%;
        left: 2%;
    }

    .img_container img {
        height: 100%;
        width: 100%;
        border-radius: 15px;
    }

    .info_container {
        height: 100%;
        width: 65%;
        border-radius: 15px;
        background-color: var(--secondary-color);
        float: left;
    }

    .interaction_container {
        height: 100%;
        width: 32%;
        border-radius: 15px;
        background-color: var(--secondary-color);
        float: right;
    }

    /* ------------------------------------------------------------------------ */

    .name_info_container p {
        position: relative;
        color: var(--font-tertiary-color);
        font-size: 20px;
        font-family: var(--primary-font-family);
        margin: 0;
        left: 4%;
    }

    .condition_info_container p {
        position: relative;
        color: var(--font-primary-color);
        font-size: 20px;
        font-family: var(--primary-font-family);
        text-align: center;
        margin: 0;
    }

    .description_info_container p {
        color: var(--font-primary-color);
        font-family: var(--primary-font-family);
        text-align: justify;
        margin: 0;
    }

    .name_info_container {
        position: relative;
        display: inline-block;
        height: 15%;
        width: 80%;
        top: 7%;
        /* background-color: #b43434; */
    }

    .condition_info_container {
        position: relative;
        height: 15%;
        width: 20%;
        /* background-color: chocolate; */
        top: 7%;
        float: right;
    }

    .description_info_container {
        position: relative;
        height: 65%;
        width: 100%;
        padding: 0 3%;
        /* background-color: darkgray; */
        top: 10%;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .description_info_container::-webkit-scrollbar {
        width: 10px;
        border-radius: 25px;
        background-color: var(--secondary-color);
    }

    .description_info_container::-webkit-scrollbar-thumb {
        width: 10px;
        border-radius: 25px;
        background-color: var(--font-primary-color);
    }

    /* ------------------------------------------------------------------------ */

    .AyS_container {
        position: relative;
        height: 15%;
        width: 100%;
        /* background-color: #00ff00; */
        top: 5px;
    }

    .price_container {
        position: relative;
        height: 20%;
        width: 50%;
        margin: 0 auto;
        /* background-color: #ddff19; */
        top: 5px;
    }

    .buttons_container {
        position: relative;
        height: 45%;
        width: 50%;
        margin: 0 auto;
        /* background-color: #8f8f8f; */
        top: 5px;
    }

    .seller_container {
        position: relative;
        height: 15%;
        width: 50%;
        margin: 0 auto;
        /* background-color: #e0e0e0; */
        top: 5%;
    }

    .interaction_p {
        position: relative;
        color: var(--font-primary-color);
        font-family: var(--primary-font-family);
        margin: 0;
        top: 20%;
        left: 5%;
        float: left;
    }

    .interaction_p_right {
        position: relative;
        color: var(--font-primary-color);
        font-family: var(--primary-font-family);
        margin: 0;
        top: 20%;
        right: 5%;
        float: right;
    }

    .price {
        position: relative;
        color: #00ff00;
        font-size: 1.6em;
        font-family: var(--primary-font-family);
        text-align: center;
        margin: 0;
        top: 15%;
        right: 3%;
    }

    .buy_button {
        height: 40%;
        width: 100%;
        color: var(--font-primary-color);
        font-family: var(--primary-font-family);
        margin-top: 7px;
        border: none;
        border-radius: 15px;
        background-color: var(--primary-color);
    }

    .fav_button {
        height: 40%;
        width: 100%;
        color: var(--font-primary-color);
        font-family: var(--primary-font-family);
        margin-top: 5px;
        border: none;
        border-radius: 15px;
        background-color: var(--primary-color);
    }


    .buy_button:hover {
        height: 40%;
        width: 100%;
        color: #000000;
        font-family: var(--primary-font-family);
        margin-top: 7px;
        border: none;
        border-radius: 15px;
        background-color: #00ff00;
    }

    .fav_button:hover {
        height: 40%;
        width: 100%;
        color: #000000;
        font-family: var(--primary-font-family);
        margin-top: 5px;
        border: none;
        border-radius: 15px;
        background-color: var(--font-primary-color);
    }

    .seller {
        position: relative;
        color: var(--font-primary-color);
        font-family: var(--primary-font-family);
        text-align: center;
        margin: 0;
        top: 8px;
    }

}

@media (max-width: 425px) {

    /* * {
      border: 2px solid salmon;
    } */

    img {
        height: 100px;
        width: 100px;
    }

    /* This is easy, this is the body label */
    body {
        height: 1950px;
        margin: 0;
        background-color: #e6e6e6;
    }

    .dark_mode {
        background-color: #000000;
    }

    .dark_mode_text {
        color: var(--font-secondary-color);
    }

    /* ------------------------------------------------------------------------ */

    /* This is the header background, where is the title or search-bar */
    .header_background {
        position: relative;
        height: 70px;
        width: 100%;
        background-color: var(--primary-color);
        z-index: 200;
    }

    /* Title of my pretty web */
    .header_background h1 {
        position: relative;
        color: var(--font-primary-color);
        font-size: 3.2em;
        font-family: Impact;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    .return_button {
        position: relative;
        color: var(--font-primary-color);
        font-size: 20px;
        text-align: center;
        text-decoration: none;
    }

    .return_button p {
        position: relative;
        height: 27px;
        font-family: var(--primary-font-family);
        margin: 0;
        background-color: var(--secondary-color);
        top: 5px;
    }

    /* ------------------------------------------------------------------------ */

    #mainList {
        height: 80%;
        width: 90%;
        margin: 50px auto;
        /* background-color: coral; */
    }

    .total_products_container {
        height: 20px;
        color: var(--font-primary-color);
        font-family: var(--primary-font-family);
        text-align: center;
        margin: 20px 0;
        border-radius: 15px;
        background-color: var(--secondary-color);
    }

    .product_container {
        height: 530px;
        width: 100%;
        margin: 40px auto;
        border-radius: 15px;
        background-color: var(--primary-color);

    }

    .img_container {
        position: relative;
        height: 35%;
        width: 80%;
        margin: 0 auto;
        border-radius: 15px;
        /* background-color: teal; */
        top: 18px;
    }

    .img_container img {
        height: 100%;
        width: 100%;
        border-radius: 14px;
    }

    .info_and_interaction_container {
        position: relative;
        height: 55%;
        width: 90%;
        margin: 0 auto;
        border-radius: 15px;
        background-color: var(--secondary-color);
        top: 22px;
        box-sizing: border-box;
    }

    .name_info_container {
        position: relative;
        width: 100%;
        color: var(--font-primary-color);
        /* background-color: slateblue; */
        top: 15px;
    }

    .name_info_container p,
    .condition_info_container p {
        font-family: var(--primary-font-family);
        text-align: center;
        margin: 10px;
    }

    .description_info_container {
        position: relative;
        height: 160px;
        width: 95%;
        font-family: var(--primary-font-family);
        text-align: justify;
        margin: 0 auto;
        border-radius: 15px;
        padding: 0 20px;
        background-color: var(--font-primary-color);
        top: 10px;
        overflow-y: scroll;
        box-sizing: border-box;
    }

    .interaction_p,
    .interaction_p_right,
    .condition_info_container {
        display: none;
    }

    .price {
        position: relative;
        color: #00ff00;
        font-family: var(--primary-font-family);
        margin: 0;
        top: 26px;
        left: 20px;
    }

    .seller {
        position: relative;
        color: var(--font-primary-color);
        font-family: var(--primary-font-family);
        margin: 0;
        top: 5px;
        left: 20px;
    }

    .buy_button {
        position: relative;
        height: 25px;
        width: 30%;
        color: var(--font-primary-color);
        font-family: var(--primary-font-family);
        border: none;
        border-radius: 15px;
        background-color: var(--primary-color);
        left: 60%;
    }

    .fav_button {
        position: relative;
        height: 25px;
        width: 30%;
        color: var(--font-primary-color);
        font-family: var(--primary-font-family);
        border: none;
        border-radius: 15px;
        background-color: var(--primary-color);
        top: 30px;
        left: 28.5%;
    }


    .buy_button:hover {
        position: relative;
        height: 25px;
        width: 30%;
        color: var(--font-primary-color);
        border: none;
        border-radius: 15px;
        background-color: #00ff00;
        left: 60%;
    }

    .fav_button:hover {
        position: relative;
        height: 25px;
        width: 30%;
        color: #000000;
        border: none;
        border-radius: 15px;
        background-color: var(--tertiary-color);
        top: 30px;
        left: 28.5%;
    }

}