:root {
    --primary-color: #0c78f2;
    --secondary-color: #2d2d2d;
    --tertiary-color: #ffffff;

    --font-primary-color: #ffffff;
    --font-secondary-color: #000000;
    --font-tertiary-color: #0c78f2;

    --border: 3px solid #0c78f2;

    --primary-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* This is easy, this is the body label */
body {
    height: 2000px;
    width: 100%;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: var(--secondary-color);
}

body::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 0 20px 0 20px;
    background-color: var(--primary-color);
}

/* ------------------------------------------------------------------------ */

/* This is the header background, where is the title or search-bar */
.header_background {
    position: relative;
    height: 80px;
    width: 100%;
    background-color: var(--primary-color);
}

/* Title of my pretty web */
.buyit_title {
    position: relative;
    display: inline-block;
    width: 40%;
    color: var(--font-primary-color);
    font-size: 65px;
    font-family: Impact;
    margin: 0;
    left: 30px;
}

/* This is the login button */
.return_button {
    position: relative;
    height: 60%;
    width: 12%;
    text-decoration: none;
    border-radius: 25px;
    background-color: var(--secondary-color);
    top: 20px;
    right: 10px;
    float: right;
    overflow: hidden;
}

.return_button::after {
    position: absolute;
    content: "";
    height: 60px;
    width: 250px;
    background-color: #b43434;
    top: -3px;
    left: -240px;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
    transition: 0.7s;
}

.return_button:hover::after {
    left: 0px;
}

/* This is the text of the login button */
.return_button p {
    position: relative;
    color: var(--font-primary-color);
    font-size: 1.2em;
    font-family: var(--primary-font-family);
    text-align: center;
    bottom: 6px;
    z-index: 500;
}

/* ------------------------------------------------------------------------ */

.main {
    height: 77%;
    width: 90%;
    color: var(--font-primary-color);
    text-align: justify;
    margin: 5% auto;
    border-radius: 40px;
    background-color: var(--secondary-color);
}

.main h1 {
    position: relative;
    color: var(--font-tertiary-color);
    font-size: 7vmin;
    font-family: Impact;
    text-align: center;
    top: 1%;
}

.main h2,
.main strong {
    text-align: center;
}

.block1,
.block2,
.block3,
.block4 {
    height: 300px;
    width: 90%;
    margin: 55px auto;
    border-radius: 40px;
    background-color: var(--primary-color);
}

section div h2 {
    position: relative;
    top: 5%;
}

.text_container {
    position: relative;
    height: 60%;
    width: 90%;
    margin: 0 auto;
    padding: 2%;
    top: 4%;
    overflow-y: scroll;
}

.text_container::-webkit-scrollbar {
    width: 10px;
    border-radius: 20px;
}

.text_container::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: var(--tertiary-color);
}

.text_container p {
    font-size: 2.4vmin;
}

/* ------------------------------------------------------------------------ */

/* This is footer background and brand properties */
footer {
    position: relative;
    display: block;
    height: 12%;
    width: 100%;
    color: var(--font-primary-color);
    font-size: 2.5em;
    font-family: Impact;
    margin: 0 auto;
    background-color: var(--secondary-color);
}


/* Footer text container */
.footer_text_container {
    position: relative;
    height: 50%;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

/* Footer text properties */
.footer_text_container p,
.footer_text_container p a {
    position: relative;
    display: inline-block;
    color: var(--font-primary-color);
    font-size: 5vmin;
    font-family: var(--primary-font-family);
    text-decoration: none;
    transition: 0.7s;
    overflow: hidden;
}

/* this generate a color change of footer text */
.footer_text_container p:hover,
.footer_text_container p a:hover {
    position: relative;
    display: inline-block;
    color: var(--font-tertiary-color);
    font-size: 5vmin;
    font-family: var(--primary-font-family);
    text-decoration: none;
    bottom: 10%;
    transition: 0.8s;
    overflow: hidden;
}

/* Who we are? */
.we {
    position: relative;
    display: inline-block;
    margin-left: 25px;
}

/* Support to users */
.support {
    position: relative;
    display: inline-block;
    margin-left: 25px;
}

/* Privacy terms */
.privacy {
    position: relative;
    display: inline-block;
    margin-left: 25px;
}

/* Terms and conditions */
.tyc {
    position: relative;
    display: inline-block;
    margin-left: 25px;
}

/* Copyright label */
.copyright {
    position: relative;
    color: var(--font-tertiary-color);
    font-size: 4vmin;
    font-family: var(--primary-font-family);
    text-align: center;
}