:root {
  --primary-color: #0c78f2;
  --secondary-color: #2d2d2d;
  --tertiary-color: #ffffff;
  --quaternary-color: #000000;

  --font-primary-color: #ffffff;
  --font-secondary-color: #000000;
  --font-tertiary-color: #0c78f2;

  --border: 3px solid #0c78f2;

  --primary-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* This is easy, this is the body label */
body {
  height: 1300px;
  width: 100%;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: var(--secondary-color);
}

body::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 0 20px 0 20px;
  background-color: var(--primary-color);
}

/* ------------------------------------------------------------------------ */

.header {
  position: relative;
  height: 80px;
  width: 100%;
}

.header__background {
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
}

/* Title of my pretty web */
.header__h1 {
  position: relative;
  display: inline-block;
  width: auto;
  color: var(--font-primary-color);
  font-size: 65px;
  font-family: Impact;
  margin: 0;
  left: 30px;
}

/* This is the login button */
.header__button {
  position: relative;
  height: 60%;
  width: 12%;
  text-decoration: none;
  border-radius: 25px;
  background-color: var(--secondary-color);
  top: 20px;
  right: 10px;
  float: right;
  overflow: hidden;
}

.header__button::after {
  position: absolute;
  content: "";
  height: 60px;
  width: 250px;
  background-color: #b43434;
  top: -3px;
  left: -240px;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  transition: 0.7s;
}

.header__button:hover::after {
  left: 0px;
}

/* This is the text of the login button */
.button__text {
  position: relative;
  color: var(--font-primary-color);
  font-size: 1.2em;
  font-family: var(--primary-font-family);
  text-align: center;
  bottom: 6px;
  z-index: 500;
}


/* ------------------------------------------------------------------------ */


.article__img-container {
  height: 130vh;
  width: 100%;
  margin: 0;
  background-color: var(--primary-color);
}

.article__img {
  height: 80%;
  width: 100%;
  background-size: cover;
  clip-path: polygon(0 15%, 100% 0, 100% 50%, 0 100%);
}

.article__who-we-are-container {
  position: relative;
  height: 82vh;
  width: 100%;
  background-color: var(--secondary-color);
  bottom: 43%;
  clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
}

.article__who-we-are {
  position: relative;
  height: 40vh;
  width: 60vw;
  color: var(--font-primary-color);
  /* background-color: #b43434; */
  top: 40%;
  right: 3%;
  float: right;
}

.who-we-are__h2 {
  height: 40px;
  width: auto;
  color: var(--font-primary-color);
  font-size: 4vmin;
  font-family: var(--primary-font-family);
  text-align: center;
  border-radius: 10px;
  background-color: var(--primary-color);
}

.who-we-are__h2:hover {
  height: 40px;
  width: auto;
  text-align: center;
  border-radius: 10px;
  transition: background-color, 0.6s;
}

.who-we-are__p {
  height: 40px;
  width: auto;
  color: var(--font-primary-color);
  font-size: 4vmin;
  font-family: var(--primary-font-family);
  text-align: justify;
  border-radius: 10px;
}

.article__img-container--gray {
  height: 90vh;
  background-color: #aab4c0;
}

.article__img--second-img {
  height: 84%;
  clip-path: polygon(65% 0, 100% 0, 100% 100%, 55% 100%);
}

.article__whats-our-mission-container {
  position: relative;
  height: 70%;
  width: 50%;
  padding: 0 15px;
  /* background-color: var(--secondary-color); */
  bottom: 82%;
  left: 2%;
  overflow-y: auto;
  box-sizing: border-box;
}

.article__whats-our-mission-container::-webkit-scrollbar {
  width: 5px;
  background-color: #aab4c0;
}

.article__whats-our-mission-container::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 10px;
  background-color: #000000;
}

.article__whats-our-mission-h2-container {
  position: relative;
  height: 12%;
  width: 100%;
  /* background-color: #b43434; */
}

.article__whats-our-mission-h2-container {
  height: 40px;
  width: auto;
  color: #ff7300;
  font-size: 5vmin;
  font-family: var(--primary-font-family);
  text-align: center;
}

.article__whats-our-mission-h2 {}

.article__whats-our-mission-container-p {
  color: #000000;
  font-size: 3.5vmin;
  font-family: var(--primary-font-family);
  text-align: justify;
  letter-spacing: 2px;
}

.article__img-container--blue {
  height: 88vh;
  background-color: #134074;
}

.article__img--third-img {
  height: 100%;
  width: 55%;
  clip-path: polygon(0 0, 100% 0, 90% 50%, 100% 100%, 45% 100%, 65% 45%, 0 10%);
}

.article__img-container-h2 {
  position: relative;
  height: 40px;
  width: 30%;
  color: #fffb00;
  font-size: 5vmin;
  font-family: var(--primary-font-family);
  left: 2.5%;
  bottom: 55%;
}

.article__whats-our-vision-container {
  position: relative;
  height: 70%;
  width: 40%;
  color: #aab4c0;
  font-size: 3.5vmin;
  font-family: var(--primary-font-family);
  text-align: justify;
  letter-spacing: 2px;
  padding: 0 15px;
  /* background-color: var(--secondary-color); */
  bottom: 98%;
  right: 4%;
  float: right;
  overflow-y: auto;
  box-sizing: border-box;
}

.article__whats-our-vision-container::-webkit-scrollbar {
  width: 5px;
  background-color: #2a5f9b;
}

.article__whats-our-vision-container::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 10px;
  background-color: var(--tertiary-color);
}

.article__img-container--fourth-img {
  height: 100%;
  width: 55%;
  clip-path: polygon(45% 0, 100% 0, 80% 100%, 0 100%);
}

.article__img-container-whos-the-creator-container {
  position: relative;
  height: 90%;
  width: 40%;
  color: var(--font-primary-color);
  font-size: 3.5vmin;
  font-family: var(--primary-font-family);
  text-align: justify;
  letter-spacing: 2px;
  padding: 0 15px;
  /* background-color: var(--secondary-color); */
  bottom: 98%;
  right: 4%;
  float: right;
  overflow-y: auto;
  box-sizing: border-box;
}

.article__img-container-whos-the-creator-container::-webkit-scrollbar {
  width: 5px;
  background-color: #2a5f9b;
}

.article__img-container-whos-the-creator-container::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 10px;
  background-color: var(--tertiary-color);
}

.whos-the-creator-container__h2 {
  height: 40px;
  color: #aab4c0;
  font-size: 5vmin;
  text-align: center;
  font-family: var(--primary-font-family);
}

.whos-the-creator-container__description-container {
  position: relative;
  height: 65%;
  color: var(--font-tertiary-color);
  /* background-color: #aab4c0; */
  top: 15%;
}

.article__img-container--dark-gray {
  height: 88vh;
  background-color: var(--secondary-color);
}

.article__img-container--black {
  display: inline-flex;
  height: 50vh;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--quaternary-color);
}

.article__img-container--sixth-img {
  height: 60%;
  width: 300px;
  /* clip-path: polygon(45% 0, 100% 0, 80% 100%, 0 100%); */
}

.article__img-container-version {
  width: 40%;
  color: var(--font-primary-color);
  font-size: 3.5vmin;
  font-family: var(--primary-font-family);
  text-align: center;
  letter-spacing: 2px;
  border-radius: 15px;
  background-color: var(--secondary-color);
  overflow-y: auto;
}

.version__h2 {
  height: 65%;
  color: var(--font-tertiary-color);
  /* background-color: #aab4c0; */
}

/* ------------------------------------------------------------------------ */

/* This is footer background and brand properties */
footer {
  height: 15%;
  width: 100%;
  color: var(--font-primary-color);
  font-size: 2.5em;
  font-family: Impact;
  margin: 0 auto;
  background-color: #2a2a2a;
}


/* Footer text container */
.footer_text_container {
  position: relative;
  height: 30%;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  top: 15%;
}

/* Footer text properties */
.footer_text_container p,
.footer_text_container p a {
  position: relative;
  display: inline-block;
  color: var(--font-primary-color);
  font-size: 5vmin;
  font-family: var(--primary-font-family);
  text-decoration: none;
  bottom: 45%;
  transition: 0.7s;
  overflow: hidden;
}

/* this generate a color change of footer text */
.footer_text_container p:hover,
.footer_text_container p a:hover {
  position: relative;
  display: inline-block;
  color: var(--font-tertiary-color);
  font-size: 5vmin;
  font-family: var(--primary-font-family);
  text-decoration: none;
  bottom: 60%;
  transition: 0.8s;
  overflow: hidden;
}

/* Who we are? */
.we {
  position: relative;
  display: inline-block;
  margin-left: 25px;
}

/* Support to users */
.support {
  position: relative;
  display: inline-block;
  margin-left: 25px;
}

/* Privacy terms */
.privacy {
  position: relative;
  display: inline-block;
  margin-left: 25px;
}

/* Terms and conditions */
.tyc {
  position: relative;
  display: inline-block;
  margin-left: 25px;
}

/* Copyright label */
.copyright {
  position: relative;
  color: var(--font-tertiary-color);
  font-size: 4vmin;
  font-family: var(--primary-font-family);
  text-align: center;
  top: 5%;
}