/* ------------------------------------------------------------------------ */

/* This is easy, this is the body label */
body {
  height: 1300px;
  width: 100%;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #2d2d2d;
}

body::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 0 20px 0 20px;
  background-color: #0c78f2;
}

/* ------------------------------------------------------------------------ */

/* This is the header background, where is the title or search-bar */
.header_background {
  position: relative;
  height: 80px;
  width: 100%;
  background-color: #0c78f2;
}

/* Title of my pretty web */
.header_background h1 {
  position: relative;
  display: inline-block;
  width: auto;
  color: #ffffff;
  font-size: 65px;
  font-family: Impact;
  margin: 0;
  left: 30px;
}

/* This is the login button */
.return_button {
  position: relative;
  height: 60%;
  width: 12%;
  text-decoration: none;
  border-radius: 25px;
  background-color: #2d2d2d;
  top: 20px;
  right: 10px;
  float: right;
  overflow: hidden;
}

.return_button::after {
  position: absolute;
  content: "";
  height: 60px;
  width: 250px;
  background-color: #b43434;
  top: -3px;
  left: -240px;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  transition: 0.7s;
}

.return_button:hover::after {
  left: 0px;
}

/* This is the text of the login button */
.return_button p {
  position: relative;
  color: #ffffff;
  font-size: 1.2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  bottom: 6px;
  z-index: 500;
}


/* ------------------------------------------------------------------------ */


.first_img_container {
  height: 130vh;
  width: 100%;
  margin: 0;
  background-color: #0c78f2;
}

.first_img {
  height: 80%;
  width: 100%;
  background-size: cover;
  clip-path: polygon(0 15%, 100% 0, 100% 50%, 0 100%);
  transition: 0.6s;
}

.who_we_are_container {
  position: relative;
  height: 82vh;
  width: 100%;
  background-color: #2d2d2d;
  bottom: 43%;
  clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
}

.who_we_are {
  position: relative;
  height: 40vh;
  width: 60vw;
  color: #ffffff;
  /* background-color: #b43434; */
  top: 40%;
  right: 3%;
  float: right;
}

.who_we_are h2 {
  height: 40px;
  width: auto;
  color: #ffffff;
  font-size: 4vmin;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  border-radius: 10px;
  background-color: #0c78f2;
}

.who_we_are h2:hover {
  height: 40px;
  width: auto;
  text-align: center;
  border-radius: 10px;
  transition: background-color, 0.6s;
}

.who_we_are p {
  height: 40px;
  width: auto;
  color: #ffffff;
  font-size: 4vmin;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: justify;
  border-radius: 10px;
}

.second_img_container {
  height: 90vh;
  width: 100%;
  margin: 0;
  background-color: #aab4c0;
}

.second_img {
  height: 84%;
  width: 100%;
  background-size: cover;
  clip-path: polygon(65% 0, 100% 0, 100% 100%, 55% 100%);
  transition: 0.6s;
}

.whats_our_mission_container {
  position: relative;
  height: 70%;
  width: 50%;
  padding: 0 15px;
  /* background-color: #2d2d2d; */
  bottom: 82%;
  left: 2%;
  overflow-y: auto;
  box-sizing: border-box;
}

.whats_our_mission_container::-webkit-scrollbar {
  width: 5px;
  background-color: #aab4c0;
}

.whats_our_mission_container::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 10px;
  background-color: #000000;
}

.whats_our_mission_h2_container {
  position: relative;
  height: 12%;
  width: 100%;
  /* background-color: #b43434; */
}

.whats_our_mission_h2_container h2 {
  height: 40px;
  width: auto;
  color: #ff7300;
  font-size: 5vmin;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.whats_our_mission_container p {
  color: #000000;
  font-size: 3.5vmin;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: justify;
  letter-spacing: 2px;
}

.third_img_container {
  height: 88vh;
  width: 100%;
  margin: 0;
  background-color: #134074;
}

.third_img {
  position: relative;
  height: 100%;
  width: 55%;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 90% 50%, 100% 100%, 45% 100%, 65% 45%, 0 10%);
  transition: 0.6s;
}

.third_img_container h2 {
  position: relative;
  height: 40px;
  width: 30%;
  color: #fffb00;
  font-size: 5vmin;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  left: 2.5%;
  bottom: 55%;
}

.whats_our_vision_container {
  position: relative;
  height: 70%;
  width: 40%;
  color: #aab4c0;
  font-size: 3.5vmin;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: justify;
  letter-spacing: 2px;
  padding: 0 15px;
  /* background-color: #2d2d2d; */
  bottom: 98%;
  right: 4%;
  float: right;
  overflow-y: auto;
  box-sizing: border-box;
}

.whats_our_vision_container::-webkit-scrollbar {
  width: 5px;
  background-color: #2a5f9b;
}

.whats_our_vision_container::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 10px;
  background-color: #ffffff;
}

.fourth_img_container {
  height: 88vh;
  width: 100%;
  margin: 0;
  background-color: #152436;
}

.fourth_img {
  position: relative;
  height: 100%;
  width: 55%;
  background-size: cover;
  clip-path: polygon(45% 0, 100% 0, 80% 100%, 0 100%);
  transition: 0.6s;
}

.whos_the_creator_container {
  position: relative;
  height: 90%;
  width: 40%;
  color: #ffffff;
  font-size: 3.5vmin;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: justify;
  letter-spacing: 2px;
  padding: 0 15px;
  /* background-color: #2d2d2d; */
  bottom: 98%;
  right: 4%;
  float: right;
  overflow-y: auto;
  box-sizing: border-box;
}

.whos_the_creator_container::-webkit-scrollbar {
  width: 5px;
  background-color: #2a5f9b;
}

.whos_the_creator_container::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 10px;
  background-color: #ffffff;
}

.whos_the_creator_container h2 {
  height: 40px;
  color: #aab4c0;
  font-size: 5vmin;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wsycc_description_container {
  position: relative;
  height: 65%;
  color: #0c78f2;
  /* background-color: #aab4c0; */
  top: 15%;
}

.degraded_img {
  position: relative;
  height: 120px;
  width: 100%;
  bottom: 630px;
}

.degraded_img img {
  height: 100%;
  width: 100%;
}

.sixth_img_container {
  height: 88vh;
  width: 100%;
  margin: 0;
  background-color: #152436;
}

.sixth_img {
  position: relative;
  height: 100%;
  width: 55%;
  background-size: cover;
  clip-path: polygon(45% 0, 100% 0, 80% 100%, 0 100%);
  transition: 0.6s;
}

.version_title_container {
  position: relative;
  height: 90%;
  width: 40%;
  color: #ffffff;
  font-size: 3.5vmin;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: justify;
  letter-spacing: 2px;
  padding: 0 15px;
  /* background-color: #2d2d2d; */
  bottom: 98%;
  right: 4%;
  float: right;
  overflow-y: auto;
  box-sizing: border-box;
}

.version_title_container h2 {
  height: 40px;
  color: #aab4c0;
  font-size: 5vmin;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.version {
  position: relative;
  height: 65%;
  color: #0c78f2;
  /* background-color: #aab4c0; */
  top: 15%;
}

/* ------------------------------------------------------------------------ */

/* This is footer background and brand properties */
footer {
  position: relative;
  height: 15%;
  width: 100%;
  color: #ffffff;
  font-size: 2.5em;
  font-family: Impact;
  margin: 0 auto;
  background-color: #2a2a2a;
  top: 5px;
}


/* Footer text container */
.footer_text_container {
  position: relative;
  height: 30%;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  top: 15%;
}

/* Footer text properties */
.footer_text_container p,
.footer_text_container p a {
  position: relative;
  display: inline-block;
  color: #ffffff;
  font-size: 5vmin;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  bottom: 45%;
  transition: 0.7s;
  overflow: hidden;
}

/* this generate a color change of footer text */
.footer_text_container p:hover,
.footer_text_container p a:hover {
  position: relative;
  display: inline-block;
  color: #0c78f2;
  font-size: 5vmin;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  bottom: 60%;
  transition: 0.8s;
  overflow: hidden;
}

/* Who we are? */
.we {
  position: relative;
  display: inline-block;
  margin-left: 25px;
}

/* Support to users */
.support {
  position: relative;
  display: inline-block;
  margin-left: 25px;
}

/* Privacy terms */
.privacy {
  position: relative;
  display: inline-block;
  margin-left: 25px;
}

/* Terms and conditions */
.tyc {
  position: relative;
  display: inline-block;
  margin-left: 25px;
}

/* Copyright label */
.copyright {
  position: relative;
  color: #0c78f2;
  font-size: 4vmin;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  top: 5%;
}